@{
    ViewBag.Title = "Kanban";
}

<div class="clearfix">    <h4>Kanban - <span id="sprintName"></span></h4></div>

<input type="hidden" id="deleteURL"  value="@Url.Action("DeleteAjax","Task")" />

<div style="width:100%; margin: 0 auto 0 auto;" ng-app="kanbanBoardApp">

    <div class="row tooltip-toggle" ng-controller="boardCtrl">
        
        @*<div ng-include="'/AppScript/busyModal.html'" ng-show="isLoading"></div>*@

        <section class="col-lg-4 panel colStyle" id="{{col.Id}}" kanban-board-drop="over"
             ng-repeat="col in columns">
            <header class="panel-heading bg-white" style="margin-bottom: 10px;">
                <div class="text-center h4">{{col.Name}}</div>
            </header>
            <div class="thumbnail" draggable="true" kanban-board-dragg="task"
                 ng-repeat="task in col.Tasks" style="margin-bottom: 10px;">
                <div class="caption" ng-class="task.Parent.IsTest ? 'testCard' : 'changeCard'">
                    <h5>
                        <strong>(#{{task.Parent.IsTest ? task.Parent.Id : task.Id}}) {{task.Name}}</strong>

                        <button class="btn btn-danger btn-xs btn-circle pull-right" type="button" title="Eliminar tarea"
                                ng-click="deleteTask(task.Id)">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button class="btn btn-warning btn-xs btn-circle pull-right" type="button" title="Editar tarea"
                                ng-click="editTask(task.Id)">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </h5>
                    <p>{{task.Description}}</p>
                    <p>
                        <button class="btn btn-primary btn-xs" type="button" title="" data-id="{{task.User.Id}}" disabled><i class="fa fa-user"></i> {{task.User.Name}}</button>
                        <button class="btn btn-info btn-xs" type="button" title="" disabled><i class="fa fa-spinner"></i> {{task.RemainingTime}}Hs</button>
                        <button class="btn btn-default btn-xs pull-right" data-original-title="{{task.Parent.Name}} - {{task.Parent.Description}}" type="button"
                                data-toggle="tooltip" data-placement="left" title="">
                            @*<i class="fa" ng-class="task.Parent.IsTest ? 'fa-flask' : 'fa-repeat'"></i>*@ {{task.Parent.IsTest ? "Prueba" : "Cambio"}} #{{task.Parent.Id}}
                        </button>
                    </p>
                </div>
            </div>
        </section>
        <input type="hidden" ng-init="UpdateTaskUrl='@Url.Action("Update","Task")'" ng-value="UpdateTaskUrl" />
        <input type="hidden" ng-init="EditTaskUrl='@Url.Action("Edit","Task")'" ng-value="EditTaskUrl" />
        <input type="hidden" ng-init="SelectedProjectId=@ViewBag.SelectedProjectId" ng-value="SelectedProjectId" />
        <input type="hidden" ng-init="SelectedSprintId=@ViewBag.SelectedSprintId" ng-value="SelectedSprintId" />
        

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="updateTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<!-- /.modal -->

@section Scripts{
    <style type="text/css">
        .colStyle {
            margin-left: 1%;
            width: 32%;
            /*padding-top: 10px;*/
            margin-top: 20px;
            border: 1px solid grey;
            min-height: 500px;
        }

        .busyIndicator .alert {
            left: 40%;
            top: 5%;
            position: fixed;
            z-index: 1050;
            width: 400px;
            height: 40px;
            padding-left: 10px;
            padding-top: 10px;
            background-color: lightgreen;
            color: black;
            border-color: transparent;
        }

        .busyIndicator .backgroundMask {
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            background: black;
            z-index: 1049;
        }

        .over {
            background-color: #fff;
            border: 2px dashed red;
        }

        .testCard {
            background-color:#daebe8; 
        }

        .changeCard{
            background-color:#cfe0e8; 
        }
    </style>

    <script src="~/Scripts/angular.js"></script>

    <script src="~/Scripts/KanbanApp/main.js"></script>
    <script src="~/Scripts/KanbanApp/kanbanDragDrop.js"></script>
    <script src="~/Scripts/KanbanApp/boardService.js"></script>
    <script src="~/Scripts/KanbanApp/boardCtrl.js"></script>

    <script type="text/javascript">
        $('.tooltip-toggle').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        });

        $(function () {
            if ($("#SprintSelector").val() != "") {
                $("#sprintName").text($("#SprintSelector option:selected").text());
            } else {
                $("#sprintName").text("Sprint no seleccionado");
            }
        });
    </script>
}